body {
	display: grid;
	grid-template-rows: auto 1fr auto;

	min-width: 1440px;
	min-height: 100vh;
	margin: 0;
	font-family: "Lora", "Palatino Linotype", serif;
	font-size: 18px;
	line-height: 1.5;
	color: #1f1e1c;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0 none;
	clip-path: inset(100%);
}

.container {
	width: 1240px;
	margin: 0 auto;
}

/* шапка */
.header {
	border-bottom: 1px solid rgba(31, 30, 28, 0.2);
}

.header-nav {
	display: grid;
	grid-template-columns: 145px 1fr;
	grid-column-gap: 50px;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
	box-sizing: border-box;
	min-height: 80px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-self: end;

	margin: 0;
	padding: 0;

	list-style: none;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.menu-item {
	margin-right: 30px;
}

.menu-item:last-child {
	margin-right: 0;
}

.menu-item-link {
	color: inherit;
	text-decoration: none;
}

/* основное содержимое */
.article {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px 50px;
	margin-top: 70px;
	margin-bottom: 70px;
}

.article-header {
	grid-column: 1 / -1;
	max-width: 75%;
	justify-self: center;
	margin: 0 0 -15px 0;
}

.article-title {
	margin: 0 0 25px 0;
	font-size: 46px;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
}

.article-meta {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 50px;
	justify-content: center;

	font-size: 18px;
	line-height: 1.5;
}

.article-meta-author {
	margin: 0;
}

.article-meta-photograph {
	margin: 0;
}

.article-img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.article-text {
	margin: 0 0 40px 0;
}

.article-figcaption p {
	margin-top: 0;
	margin-bottom: 10px;
}

.article-figcaption p:last-child {
	margin-bottom: 0;
}

.article-figure {
	margin: 0;
}

.article-figcaption {
	margin-top: 30px;
	font-size: 16px;
	line-height: 1.5;
}

.article-figure-horizontal {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
}

.article-figure-horizontal .article-figcaption {
	margin-top: 0;
}

.article-img-wide {
	grid-column: span 3;
}

.article-figure-wide {
	grid-column: span 2;
}

/* подвал */
.footer {
	border-top: 1px solid rgba(31, 30, 28, 0.2);
}

.footer-content {
	display: grid;
	grid-template-columns: 145px 1fr;
	grid-column-gap: 50px;
	align-items: center;

	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 80px;
	box-sizing: border-box;
}

.footer-copyright {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	justify-self: end;
}
